.checkout-container {
  width: 70%;
  max-height: 80vh; 
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto 0;
  overflow: auto; 

  .checkout-header {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid darkgrey;

    .header-block {
      text-transform: capitalize;
      width: 23%;

      &:last-child {
        width: 8%;
      }
    }
  }

  .checkout-items-list {
    width: 100%;
    overflow: scroll;
    height: 65vh
  }

  .total {
    margin-top: 30px;
    margin-left: auto;
    font-size: 36px;
  }
}
